<html>

<head></head>

<body>

    <script>
       // import { Cordenadas } from ./server.js;
                         
        const jsono = {
            pal: "pepe",
            password: "cityslicka"
        };
        
//const datos=new Datos(jsono);
        var xhr = new XMLHttpRequest();

        xhr.open('post', 'http://localhost:3000/envio');

        xhr.setRequestHeader("Content-type",  'application/json');

        xhr.send(
            JSON.stringify(jsono)
        );
        

    </script>

</body>

</html>