{{> head }}


<body>
  
   <input type="button" id = "botonMuro"  value= "<<atras" onclick=muro()>
  <h2>{{ usuario }} </h2>
  <h2>{{ sesionID }}</h2>
    {{> mapa }}
    <input type="button" id = "botonBorrar"  value= "borrar" onclick="borrar({{ sesionID}})">

<script>

    function muro(){

                document.body.innerHTML=null                  
                 var url = '/muro';
             
                abrirUrlHeader(url)

    }






    function borrar(sesionID){

        console.log("*********************************borrando******************************") 

                            
         var token1 = localStorage.getItem('token');
         if (token1 != null) {           //este bloque realiza la petición si se envió token con su cabecera del authoritation: token
            console.log("*********************************siiii borrando******************************")
            let h = new Headers();
            h.append('authorization', `${token1}`);
            let req = new Request(`/borrar/${sesionID}`, {
                method: 'POST',
                mode: 'cors',
                headers: h,
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                //body: JSON.stringify(id)
            });
          



            fetch(req)
                 .then(resp => resp.text())
                 .then(data => {

                      console.log("*********************************borrando******************************")
                        if(data.ok=true)

                        console.log("*********************************borrado******************************")
                

            });
          

        }

    }
  
</script>

    <input type="button" id = "botonCerrar"  value= "cerrar" onclick=cerrar()>
    




</body>

</html>