
<html>
  <head></head>

 <body onload="mostrarMuro({{ muro }})">
  
<div id="div1"><h2 id="otros" >Muro</h2></div>

<script>
  function mostrarMuro(aux){
    console.log(aux)

}
  
</script>



   
    
    
  


   







</script>
</body></html>