
<head> 
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"> 
    <meta name="viewport" content="width=device-width; initial-scale=1.0"> 
    <title>This is a test page</title> 

    <script type="text/javascript"> 
    function up(data) 
    { 
         document.write("<div>"+data+"</div>");
    // var ele = document.getElementById('location').innerHTML; 
    // ele.innerHTML = "mentira"; 
    } 
    </script> 

</head> 

<body>
    <h1>holas {{ nombre }}</h1>
  

<script type="text/javascript"> 
//up("mendita")
</script> 
<h4>
     <label id="location"></label> 
</h4>
</body>